{% load static %}

          <!-- Main Footer -->
          <footer
          class="main-footer"
          >
          <div class="auto-container">
            <!-- Upper Box -->
            <div class="upper-box">
              <div class="row clearfix">
                <!-- Info Column -->
                <div class="info-column col-lg-4 col-md-6 col-sm-12">
                  <div class="inner-column">
                    <span class="icon flaticon-call-2"></span>
                    Hoziroq telefon qiling<br />
                    <a href="tel:+10909876534">+998 (71) 216-05-00</a>
                  </div>
                </div>

                <!-- Info Column -->
                <div class="info-column col-lg-4 col-md-6 col-sm-12">
                  <div class="inner-column">
                    <span class="icon flaticon-email-2"></span>
                    24/7 <br />
                    <a href="mailto:carsore@mail.com">info@agros.uz</a>
                  </div>
                </div>
                <!-- Info Column -->
                <div class="info-column col-lg-4 col-md-6 col-sm-12">
                  <div class="inner-column">
                    <span class="icon flaticon-maps-and-flags"></span>
                    Manzil<br />
                    <strong> Toshkent shahar, Chilonzor tumani, 19-mavze 61/2-uy</strong>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Upper Box -->
            <!-- Widgets Section -->
            <div class="widgets-section">
              <div class="row clearfix">
                <!-- Footer Column -->
                <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                  <div class="footer-widget logo-widget">
                    <div class="logo">
                      <a href="index-2.html"
                      ><img width="220" src="{% static 'assets/images/uzinsurance_white.png' %}" alt=""
                      /></a>
                    </div>
                    <div class="text">
                      “Uzinsurance” universal sug`urta kompaniyalaridan biri bo`lib, barcha turdagi avtosug`urta, Uzagrosug`urta va boshqa yuridik va jismoniy shaxslarga 140 dan ortiq sug`urta qilish xizmatlarini ko`rsatadi.
                    </div>
                    <!-- Social Box -->
                    <ul class="social-box">
                      <li>
                        <a href="#" class="fab fa-facebook-f"
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="fab fa-twitter"
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="fab fa-google"></a>
                      </li>
                      <li>
                        <a  href="#" class="fab fa-linkedin-in" ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- Footer Column -->
                <div class="footer-column col-lg-8 col-md-6 col-sm-12">
                  <div class="footer-widget links-widget">
                    <div class="row clearfix">
                      <!-- Column -->
                      <div class="column col-lg-6 col-md-6 col-sm-12">
                        <h3>Kompaniya haqida</h3>
                        <ul class="list-links">
                          <li><a href="#">About us</a></li>
                          <li><a href="#">our team</a></li>
                          <li><a href="#">Services</a></li>
                        </ul>
                      </div>
                      <!-- Column -->
                      <div class="column col-lg-6 col-md-6 col-sm-12">
                        <h3>Interaktiv xizmatlar</h3>
                        <ul class="list-links">
                          <li><a href="#">car insurance</a></li>
                          <li><a href="#">bike insurance</a></li>
                          <li><a href="#">bus insurance</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </footer>
      <!-- End Main Footer -->