{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="login-section">
        <div class="auto-container">
            <div class="row">
                <div class="col-9">
                    <div >
                        <div class="section-icons-outer parallax-scene-2">
                            <div
                                    data-depth="0.20"
                                    class="icon-layer-one"
                                    style="background-image: url({% static 'assets/images/icons/icon-1.png' %})"
                            ></div>
                            <div
                                    data-depth="0.40"
                                    class="icon-layer-two"
                                    style="background-image: url({% static 'assets/images/background/pattern-4.png' %} )"
                            ></div>
                        </div>
                        <!-- Sec Title -->
                        <div class="title-box">
                            <h4>Polis ma'lumotlari</h4>
                        </div>

                        <div class="form-box">
                            <div class="styled-form  ">
                                <table class="table table-striped">
                                    <tr>
                                        <td>1</td>
                                        <td>Polis</td>
                                        <td>{{ contract.policy_seria }} {{ contract.policy_number }}</td>
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Polis narxi</td>
                                        <td>{{ contract.policy_insurancePremium }}      </td>
                                    </tr>
                                    <td>3</td>
                                    <td>Amal qilish muddati</td>
                                    <td>{{ contract.policy_start_date|date:"d.m.Y" }}
                                        dan {{ contract.policy_end_date|date:"d.m.Y" }} gacha
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>F.I.O.</td>
                                        <td>{{ contract.person_lastname }} {{ contract.person_firstname }}</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Manzil</td>
                                        <td>{{ contract.address }}  </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Telefon raqam</td>
                                        <td>{{ contract.person_phoneNumber }}  </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="login-box">
                        <div class="section-icons-outer parallax-scene-2">
                            <div
                                    data-depth="0.20"
                                    class="icon-layer-one"
                                    style="background-image: url({% static 'assets/images/icons/icon-1.png' %})"
                            ></div>
                            <div
                                    data-depth="0.40"
                                    class="icon-layer-two"
                                    style="background-image: url({% static 'assets/images/background/pattern-4.png' %} )"
                            ></div>
                        </div>
                        <!-- Sec Title -->
                        <div class="title-box">
                            <h4>To'lovni amalga oshiring</h4>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-box">
                                    <div class="styled-form  ">

                                        <a href="{{ payme_url }}">
                                            <img src="{% static 'assets/images/payme-01.png' %}" alt="">
                                        </a>

                                    </div>
                                </div>
                            </div>
                            {#            <div class="col-6">#}
                            {#              <div class="form-box">#}
                            {#                <div class="styled-form  ">#}
                            {#                  <a href="#">#}
                            {#                    <img src="{% static 'assets/images/click-01.png' %}" alt="">#}
                            {#                  </a>#}
                            {##}
                            {#                </div>#}
                            {#              </div>#}
                            {#            </div>#}
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}