
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% block title %}
        <title>Bahtsiz hodisa</title>
    {% endblock %}
</head>
<body>
  <div class="main-homepage">
    <div class="page-wrapper">
    {% include 'includes/header.html' %}
    {% block content %}

    {% endblock %}
    {% include 'includes/footer.html' %}
</div>
  </div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"#}
{#        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"#}
{#        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"#}
{#        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"#}
{#        crossorigin="anonymous"></script>#}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.js"></script>



  <!-- Stylesheets -->
  <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />

  <!-- Switcher Mockup -->
{#  <link href="{% static 'assets/css/color-switcher-design.css' %} " rel="stylesheet" />#}

  <link
  href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&amp;family=Ubuntu:wght@300;400;500;700&amp;display=swap"
  rel="stylesheet"
  />

  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
  <link rel="icon" href="images/favicon.png" type="image/x-icon" />


  <script src="{% static 'assets/js/jquery.js'%}"></script>
  <script src="{% static 'assets/js/popper.min.js'%} "></script>
  <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'assets/js/parallax.min.js'%} "></script>
  <script src="{% static 'assets/js/jquery.paroller.min.js'%} "></script>
  <script src="{% static 'assets/js/owl.js'%} "></script>
  <script src="{% static 'assets/js/wow.js'%} "></script>
  <script src="{% static 'assets/js/jquery-ui.js'%} "></script>
  <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js'%} "></script>
  <script src="{% static 'assets/js/script.js'%} "></script>

{% block JavaScript %}

{% endblock %}
</body>
</html>